
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repúblicas Favoritas</title>
    <link rel="stylesheet" href="/favoritos.css">
</head>

<body>
    <header>
        <a href="javascript:void(0);" onclick="history.back();"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <h1 style="margin-left: 5%;">Favoritos</h1>

    <div class="alert {{#if success_msg}}show{{/if}}">
      {{#if success_msg}}
    <div class="success">{{success_msg}}</div>
      {{/if}}
    </div>

<div class="grid-container">
     {{#if favoritos.length}}
  {{#each favoritos}}
    <a href="/perfil-Republica?id={{id_republica}}">
      <div class="card">
        <div class="img-card">  
          <img src="/foto 1.jpg" alt="">
        </div>
        <div class="content-card">
          <div class="name">
            <h1>{{dataValues.nome}}</h1>
          </div>
          <div class="desc">
            <h2>Sobre</h2>
            <p>{{dataValues.descricao}}</p>
          </div>
        </div>
      </div>
    </a>
  {{/each}}
{{else}}
  <p class="nenhuma" style="font-size: 35px;">Nenhuma república favoritada.</p>
{{/if}}
</div>
   
</body>

</html>

