
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Repúblicas Favoritas</title>
    <link rel="stylesheet" href="/favoritos.css">
</head>

<body>
    <header>
        <a href="/pesquisa"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
   
    {{!-- <div>
       
        <p>Nome:{{dataValues.nome}}</p> 
        <p>Descrição: {{dataValues.descricao}}</p>
        <img src="/foto 1.jpg" alt="Quarto de uma república" class="imgQuarto" width="150px" height="200px">
        </a>
    </div> --}}

<div class="grid-container">
     {{#if favoritos.length}}
  {{#each favoritos}}
    <a href="/perfil-Republica?id={{id_republica}}">
      <div class="card">
        <div class="img-card">  
          <img src="/foto 1.jpg" alt="">
        </div>
        <div class="content-card">
          <div class="name">
            <h1>{{dataValues.nome}}</h1>
          </div>
          <div class="desc">
            <h2>Sobre</h2>
            <p>{{dataValues.descricao}}</p>
          </div>
        </div>
      </div>
    </a>
  {{/each}}
{{else}}
  <p>Nenhuma república favoritada.</p>
{{/if}}
</div>

    
   
</body>

</html>

