<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReUni - Encontre a melhor república</title>
    <link rel="icon" href="/reuni.png">

    <!-- Estilos -->
    <!-- Incluindo o arquivo de estilo principal -->
    <link rel="stylesheet" href="/pesquisa.css">
    <link rel="stylesheet" href="/home.css">

    <!-- Fontes -->
    <!-- Importando a fonte 'Inter' do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <!-- Importando a fonte 'Poppins' do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
    const sections = document.querySelectorAll('.repu-grid section');
    const moveLeftButton = document.getElementById('setaEsquerda');
    const moveRightButton = document.getElementById('setaDireita');
    const moveAmountPercentage = 5; // Altere conforme necessário
    const leftLimitPercentage = 0; // Limite à esquerda em porcentagem
    const rightLimitPercentage = -300; // Limite à direita em porcentagem
    const sectionWidthPercentage = 19.5; // Largura de cada seção em porcentagem

    const gridWidth = sections.length * sectionWidthPercentage; // Largura total do grid
    const moveAmount = (moveAmountPercentage / 100) * gridWidth; // Converter para pixels
    const leftLimit = (leftLimitPercentage / 100) * gridWidth; // Converter para pixels
    const rightLimit = (rightLimitPercentage / 100) * gridWidth; // Converter para pixels

    moveLeftButton.addEventListener('click', function() {
        sections.forEach(function(section) {
            let currentLeft = parseInt(section.style.left || 0);
            if (currentLeft - moveAmount >= leftLimit) {
                section.style.left = currentLeft - moveAmount + '%';
            } else {
                section.style.left = leftLimit + '%';
            }
        });
    });

    moveRightButton.addEventListener('click', function() {
        sections.forEach(function(section) {
            let currentLeft = parseInt(section.style.left || 0);
            if (currentLeft + moveAmount <= rightLimit) {
                section.style.left = currentLeft - moveAmount + '%';
            } else {
                section.style.left = rightLimit + '%';
            }
        });
    });
});

    </script>
    <!-- SVG para o efeito de fundo -->
    <svg xmlns="http://www.w3.org/2000/svg" width="848" height="1277" fill="none" viewBox="0 0 848 1277"
        class="svg-blur">
        <!-- Grupo com filtro de desfoque -->
        <g filter="url(#a)" opacity=".3">
            <!-- Elipse para o efeito de fundo -->
            <ellipse cx="148" cy="623" fill="#6EB6FF" rx="400" ry="354" />
            <!-- Caminho para o efeito de fundo -->
            <path stroke="#000"
                d="M547.5 623c0 195.177-178.803 353.5-399.5 353.5S-251.5 818.177-251.5 623-72.697 269.5 148 269.5 547.5 427.823 547.5 623Z" />
        </g>
        <!-- Definições do filtro de desfoque -->
        <defs>
            <filter id="a" width="1400" height="1308" x="-552" y="-31" color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur result="effect1_foregroundBlur_1_266" stdDeviation="150" />
            </filter>
        </defs>
    </svg>

    <!-- Segundo SVG para o segundo efeito de fundo -->
    <svg xmlns="http://www.w3.org/2000/svg" width="657" height="640" fill="none" viewBox="0 0 657 640"
        class="svg-blur-2">
        <!-- Grupo com filtro de desfoque -->
        <g filter="url(#a)" opacity=".2">
            <!-- Elipse para o segundo efeito de fundo -->
            <ellipse cx="624" cy="53" fill="#6EB6FF" rx="324" ry="287" />
            <!-- Caminho para o segundo efeito de fundo -->
            <path stroke="#000"
                d="M947.5 53c0 158.174-144.777 286.5-323.5 286.5S300.5 211.174 300.5 53 445.277-233.5 624-233.5 947.5-105.174 947.5 53Z" />
        </g>
        <!-- Definições do filtro de desfoque -->
        <defs>
            <filter id="a" width="1248" height="1174" x="0" y="-534" color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur result="effect1_foregroundBlur_1_265" stdDeviation="150" />
            </filter>
        </defs>
    </svg>

    <header>
        <!-- Link para a página inicial com o logotipo -->
        <a href="/" class="logo_a">Re<span>Uni</span></a>
        <!-- Div para os botões -->
        <div class="buttons">
            <!-- Botão para registrar -->
            <a href="/escolha-registro"><button class="registro">Registrar-se</button></a>
            <!-- Botão para fazer login -->
            <a href="/escolha-login"><button class="login">Login</button></a>

        </div>
    </header>

    <main class="container-inicial">
        <!-- Div para o texto principal -->
        <div class="texto-home">
            <!-- SVG para decoração -->
            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
                <path d="M0.547594 0.145413L80.6991 29.1966L31.2533 79.6778L0.547594 0.145413Z" fill="#215487" />
            </svg>
            <!-- Div para o conteúdo -->
            <div class="content">
                <!-- Linha horizontal -->
                <hr>
                <!-- Div para o texto principal -->
                <div class="content-text">
                    <!-- Título -->
                    <h1>Bem vindo ao ReUni!</h1>
                    <!-- Parágrafo -->
                    <p>Encontrar a república universitária perfeita nunca foi tão fácil! No ReUni, estamos comprometidos
                        em simplificar sua busca pela moradia ideal durante seus anos universitários. </p>
                    <!-- Botão com link -->
                    <a href="/escolha-registro"><button class="btn-saiba">Saiba mais</button></a>
                </div>
            </div>
        </div>
        <!-- Div para o vetor/gráfico -->
        <div class="vector">
            <!-- Imagem do conteúdo inicial -->
            <img src="/container-inicial.svg" alt="">
        </div>
    </main>


    <main class="insights">
        <!-- Div para o título "Usuários Ativos" -->
        <div class="title">
            <h1>321 +</h1> <!-- Número de usuários ativos -->
            <p>Usuários ativos</p> <!-- Descrição -->
        </div>
        <!-- Div para o título "Repúblicas Disponíveis" -->
        <div class="content">
            <h1>25 +</h1> <!-- Número de repúblicas disponíveis -->
            <p>Repúblicas disponíveis</p> <!-- Descrição -->
        </div>
    </main>

    <main class="filtros">
        <svg xmlns="http://www.w3.org/2000/svg" width="848" height="1277" fill="none" viewBox="0 0 848 1277"
            class="svg-filtro">
            <g filter="url(#a)" opacity=".3">
                <ellipse cx="148" cy="623" fill="#6EB6FF" rx="400" ry="354" />
                <path stroke="#000"
                    d="M547.5 623c0 195.177-178.803 353.5-399.5 353.5S-251.5 818.177-251.5 623-72.697 269.5 148 269.5 547.5 427.823 547.5 623Z" />
            </g>
            <defs>
                <filter id="a" width="1400" height="1308" x="-552" y="-31" color-interpolation-filters="sRGB"
                    filterUnits="userSpaceOnUse">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur result="effect1_foregroundBlur_1_266" stdDeviation="150" />
                </filter>
            </defs>
        </svg>



        <div class="filtro1">
            <div class="txt">
                <h1>Barra de busca</h1>
                <p>Oferecemos um sistema de busca por republicas dinamico, por meio de uma barra de navegação.</p>
            </div>
            <div class="img"><img src="/pesquisa.gif" alt=""></div>
        </div>
        <div class="filtro1">
            <div class="img"><img src="/pesquisa.gif" alt=""></div>
            <div class="txt">
                <h1>Filtros</h1>
                <p>Além da barra de pesquisa, oferecemos busca por meio de filtros: Estado e Preço.</p>
            </div>
            
        </div>
    </main>

    <main class="republicas">

        {{#if republicas}}
        <h1 style="padding-left: 10%;">Sugestões</h1>
        <div class="repu-container">
            <div class="setaEsquerda"><button id="setaEsquerda" onclick="setaesquerda_trans()"><img src="/seta.png" alt="">
            </button></div>
            <div class="repu-grid">
              <div class="card-container-2">
                
                {{#each republicas}}
                
    <a style="text-decoration: none; color: black;" href="/perfil-Home?id={{id}}">           
    <section class="card">
            <img src="test.jpg" alt="">
        <div>
            <h4>{{nome}}</h4>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>{{cidade}}
            </p>
            <p>R$ {{aluguel}} / mês</p>
            <div class="detalhes">
                <div>
                    <img src="/mista.png">
                    {{tipo}}
                </div>
                <div>
                    <img src="/cama.png">
                    {{quarto}}
                </div>
                <div>
                    <img src="/banheirob.png">
                    {{banheiro}}
                </div>
            </div>
        </div>
        
    </section>
    </a>   
    {{/each}}
    <section class="card">
            <img src="rep1.jpg" alt="">
        <div>
            <h4>Republica Sol-Marinho</h4>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>São Paulo
            </p>
            <p>R$ 900 / mês</p>
            <div class="detalhes">
                <div>
                    <img src="/mista.png">
                    Masc
                </div>
                <div>
                    <img src="/cama.png">
                    3
                </div>
                <div>
                    <img src="/banheirob.png">
                    1
                </div>
            </div>
        </div>
        </section>
        <section class="card">
            <img src="rep2.jpg" alt="">
        <div>
            <h4>Republica Noite Estrelada</h4>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>Rio de Janeiro
            </p>
            <p>R$ 600 / mês</p>
            <div class="detalhes">
                <div>
                    <img src="/mista.png">
                    Fem
                </div>
                <div>
                    <img src="/cama.png">
                    4
                </div>
                <div>
                    <img src="/banheirob.png">
                    2
                </div>
            </div>
        </div>
        </section>
        <section class="card">
            <img src="rep3.jpg" alt="">
        <div>
            <h4>Republica Constantine</h4>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>Porto Alegre
            </p>
            <p>R$ 800 / mês</p>
            <div class="detalhes">
                <div>
                    <img src="/mista.png">
                    Mista
                </div>
                <div>
                    <img src="/cama.png">
                    2
                </div>
                <div>
                    <img src="/banheirob.png">
                    2
                </div>
            </div>
        </div>
        </section>

            </div>
            <div class="setaDireita" id="setaDireita"><button><img src="/seta.png" alt=""></button></div>
        </div>
        {{else}}
         <h1 style="padding-left: 10%;">Minhas Republicas</h1>
         <h3 style="padding-left: 13%;">Nunhuma Republica Anunciada</h3>
    {{/if}}
        </div>

    
    </main>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <a href="/pesquisa" class="logo_a_footer">Re<span>Uni</span></a>
                <p>É tudo sobre os seus sonhos.</p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"><img src="/instagram.png" width="28px"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"><img src="/facebook.png" width="28px"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"> <img src="/whatsapp.png" width="28px"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Documentos</h3>
                </li>
                <li>
                    <a href="MONOGRAFIA%20REUNI.pdf" class="footer-link">Monografia</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Manual de identidade</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Contato</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Email</a>
                </li>
                <li>
                    <a href="#" class="footer-link">FAQ</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Termos</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Politica de privacidade</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Termos de uso</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <h3>Sobre nós</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Equipe</a>
                </li>
                <li>
                    <a href="#" class="footer-link"></a>
                </li>
            </ul>
        </div>

        <div id="footer_copyright">
            @ 2024 all rights reserved
        </div>
    </footer>


</body>

</html>