<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="perfilusuario.css">
</head>

<body>

    <style>
        #ImgEdit {
            margin-top: 2vw;
            border-radius: 100%;
        }
    </style>

    <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">

    <img src="{{perfil.imagem}}" alt="">
    <p>Nome: {{perfil.nome}}</p>
    <p>Sexo: {{perfil.sexo}}</p>
    <p>Idade: {{perfil.idade}}</p>
    <p>CPF: {{perfil.cpf}}</p>
    <p>Email: {{perfil.email}}</p>
    <p>Descrição do Perfil: {{perfil.descricao}}</p>
    <p>Estado de Origem: {{perfil.estado}}</p>

    <form id="deleteForm" action="/perfilUsu/delete" method="post">
        <button type="button" id="deleteButton">Excluir conta</button>
    </form>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Você tem certeza que deseja excluir a sua conta? Esta ação não pode ser desfeita.</p>
            <button id="confirmDeleteButton">Excluir</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>

    <script src="/confirmacaoDelete.js"></script>

    <a href="/editar-perfil"><button>Editar Perfil</button></a>
</body>

</html>