<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="perfilusuario.css">
</head>

<body>

    <header>
        <a href="/pesquisa"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <div class="background">
        <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
    </div>

    <img src="{{perfil.imagem}}" alt="">
    <div class="align-itens">

        <div class="title">
            <div class="name">
                <h1>{{perfil.nome}}</h1>
                <hr>
            </div>
            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt ab labore vitae tenetur aliquid ipsam doloremque minus provident quisquam fugiat modi porro in, molestias blanditiis? Sapiente animi deleniti minima nulla! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, suscipit saepe? Architecto sit perspiciatis sed similique, sequi cumque quas perferendis veritatis laboriosam iusto maxime voluptate incidunt magnam. Ipsa, at magni. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, molestias veniam ipsum enim reiciendis fugiat aperiam sint maiores rerum facere! Aliquam facere, nam eaque molestiae temporibus necessitatibus nulla iste ipsam!</p>
            </div>
        </div>

        <div class="box-info">
            <div class="box">
                <div class="content">
                    <h3>Informações</h3>
                    <p>Email: {{perfil.email}}</p>
                    <p>Idade: {{perfil.idade}}</p>
                    <p>Sexo: {{perfil.sexo}}</p>
                    <p>CPF: {{perfil.cpf}}</p>
                    <p>Estado de Origem: {{perfil.estado}}</p>
                </div>
                <div class="buttons">
                    <form id="deleteForm" action="/perfilUsu/delete" method="post">
                        <button type="button" id="deleteButton">Excluir conta</button>
                    </form>
                    <form action="editForm" action="/perfilUsu/edit" method="post">
                        <button type="button" id="editButton">Editar Perfil</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    
   

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Você tem certeza que deseja excluir a sua conta?</p>
            <button id="confirmDeleteButton">Excluir</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>
    <div id="confirmModal2" class="modal">
        <div class="modal-content-2">
             <div class="background">
                <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
                <span class="closeButton"><img src="/x_icon_150997.png" alt=""></span>
            </div>
        </div>
    </div>
    <script src="/confirmacaoDelete.js"></script>
    <script src="/confirmacaoEdit.js"></script>

    
</body>

</html>