<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="perfilusuario.css">
</head>

<body>

    <header>
        <a href="/pesquisa"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <div class="background">
        <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
    </div>

    <img src="{{perfil.imagem}}" alt="">
    <div class="align-itens">
        <div class="info-perfil">
            <div>
                <p>Nome: {{perfil.nome}}</p>
                <p id="sexo">Sexo: {{perfil.sexo}}</p>
            </div>

            <p>Idade: {{perfil.idade}}</p>
            <div>
                <p>CPF: {{perfil.cpf}}</p>
                <p>Email: {{perfil.email}}</p>
            </div>
        </div>

        <div class="desc">
            <div class="box">
                <p class="letra">Descrição do Perfil: {{perfil.descricao}}</p>
                <p class="letra">Estado de Origem: {{perfil.estado}}</p>
            </div>
        </div>
    </div>
    
    <div class="buttons">
        <form id="deleteForm" action="/perfilUsu/delete" method="post">
            <button type="button" id="deleteButton">Excluir conta</button>
        </form>

        <a href="/editar-perfil"><button>Editar Perfil</button></a>
    </div>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Você tem certeza que deseja excluir a sua conta?</p>
            <button id="confirmDeleteButton">Excluir</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>

    <script src="/confirmacaoDelete.js"></script>

    
</body>

</html>