<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Anunciante</title>
    <link rel="stylesheet" href="/perfilusuario.css">
</head>

<body>

      <header>
        <a href="/pesquisaAnun"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <div class="background">
        <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
    </div>

    <img src="{{perfil.imagem}}" alt="">
    <div class="align-itens">

        <div class="title">
            <div class="name">
                <h1>{{perfil.nome}}</h1>
                <hr>
            </div>
            <div class="desc">
                <p>{{perfil.descricao}}</p>
            </div>
        </div>

        <div class="box-info">
            <div class="box" style="height: 325px;">
                <div class="content">
                    <h3>Informações</h3>
                    <p>Email: {{perfil.email}}</p>
                    <p>Idade: {{perfil.idade}}</p>
                    <p>Sexo: {{perfil.sexo}}</p>
                    <p>CPF: {{perfil.cpf}}</p>
                </div>
                <div class="buttons">
                    <form id="deleteForm" action="/perfilUsu/delete" method="post">
                        <button type="button" id="deleteButton">Excluir conta</button>
                    </form>
                    <form id="editForm" action="/perfilUsu/edit" method="post">
                        <button type="button" id="editButton">Editar Perfil</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    
   
    <div id="confirmModalEdit" class="modal">
        <div class="modal-content-2">
            <div class="image">
                <div>
                     <form id="deleteForm" action="/perfilUsu/deleteImage" method="post">
                        <button class="delete-foto" type="submit">Excluir Foto</button>
                    </form>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input class="input-File"type="file"  style="display: none;" name="image" id="profile" required>
                        <label for="profile" class="profile_label">
                            <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
                        </label>
                        
                        <button id="submitFoto" type="submit">Salvar</button>
                    </form>
                   
                </div>
                <span class="closeButton">&times;</span>
            </div>
            <div class="inputs">
                <div class="align-itens">
                    <div>
                        <label for="nome">Novo Nome:</label>
                        <input type="text" id="nome" name="nome" value="{{perfil.nome}}" required>
                    </div>
                    <div>
                        <label for="email">Novo Email:</label>
                        <input type="email" id="email" name="email" value="{{perfil.email}}" required>
                    </div>
                </div>
                <div class="align-itens-2">
                    <div class="desc">
                        <label for="descricao">Nova Descrição:</label>
                        <textarea id="descricao" name="descricao" required>{{perfil.descricao}}</textarea>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="/perfil-Usuario"><button id="confirmEditButton">Salvar</button></a>
                <button id="cancelButtonEdit" class="cancel">Cancelar</button>
            </div>
        </div>
    </div>
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Você tem certeza que deseja excluir a sua conta?</p>
            <button id="confirmDeleteButton">Excluir</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>
   
    <script src="/confirmacaoDelete.js"></script>
    <script src="/confirmacaoEdit.js"></script>

    {{!-- <a href="/pesquisa"><button>Voltar</button></a>

    <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">

    <p>Nome: {{perfil.nome}}</p>
    <p>Sexo: {{perfil.sexo}}</p>
    <p>Idade: {{perfil.idade}}</p>
    <p>CPF: {{perfil.cpf}}</p>
    <p>Email: {{perfil.email}}</p>
    <p>Descrição do Perfil: {{perfil.descricao}}</p>
    
    <form action="/perfil/delete" method="delete">
        <button type="submit">Excluir conta</button>
    </form>


    <a href="/editar-perfil"><button>Editar Perfil</button></a> --}}
</body>

</html>

</body>

</html>