<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil República</title>
    <link rel="stylesheet" href="perfil.css">
    <link rel="stylesheet" href="galeria.css">
    <link rel="icon" href="/reuni.png">
</head>

<body>
    <header>
        <a href="/pesquisa"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <div class="grid-galley">
        <div class="grid-item"
                {{#each imagemRep}}
                <a href="/up{{nome_imagem}}"></a>
                    <img src="/up/{{nome_imagem}}">
                {{/each}}
            </a>
        </div>     
   </div>

<script>
    
document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('modal');
    const modalImg = document.getElementById('modal-img');
    const closeModal = document.querySelector('.close');

    // Seleciona todas as imagens dentro das divs .grid-item
    const images = document.querySelectorAll('.grid-item img');

    images.forEach(img => {
        img.addEventListener('click', (e) => {
            modal.style.display = 'block';
            modalImg.src = e.target.src;
        });
    });

    closeModal.addEventListener('click', () => {
        modal.style.display = 'none';
    });

    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.style.display = 'none';
        }
    });
});

</script>

<div id="modal" class="modal">
    <span class="close">&times;</span>   <!-- &times; é o icon de X -->
    <img class="modal-content" id="modal-img">
</div>
    <section class="tittle-fav">
        <div>
            <h1>{{ republica.nome }}</h1>
            <p>{{ republica.cidade }}, {{ republica.bairro }}</p>
        </div>
        <div>
            <form action="/favoritos" method="POST">
                <input type="hidden" name="republica_id" value="{{ republica.id }}">
                <button type="submit"><div class="imagem" id="imagem1"></div></button>
            </form>
        </div>
    </section>
    <svg class="hr-maior" xmlns="http://www.w3.org/2000/svg" width="582" height="2" viewBox="0 0 582 2" fill="none">
        <path d="M0.015625 1H581.016" stroke="#6EB6FF" stroke-width="2" />
    </svg>
    <main class="container-desc">
        <div class="desc">
            <div class="tittle">
                <h1>Descrição</h1>
                <hr>
            </div>
            <div class="text">
                <p>{{ republica.descricao }}</p>
            </div>
            <hr class="hr-maior-2">
        </div>

        <div class="contact">
            <div class="box">
                <div class="icon-nome">
                    <img src="/foto perfil.png" alt="">
                    <h2>{{ republica.nome }}</h2>
                </div>
                <div class="container-infos">
                    <div>
                        <img src="/Vector 1.png" alt="" srcset="">
                        <p>Desde {{ republica.anoDeCriacao }}</p>
                    </div>
                    <div>
                        <img src="/Vector.png" alt="" srcset="">
                        <p>{{ republica.banheiro }} Banheiros</p>
                    </div>
                    <div>
                        <img src="/Vector (1).png" alt="" srcset="">
                        <p>{{ republica.quarto }} Quartos</p>
                    </div>
                    <div>
                        <img src="/image 4.png" alt="" srcset="">
                        <p>{{ republica.tipo }}</p>
                    </div>
                </div>
                <div class="button">
                    <a href="https://wa.me/55{{republica.numero}}"><button>Entrar em contato</button></a>
                </div>
            </div>
        </div>
    </main>
    <section class="comodidades">
        <div class="tittle">
            <h1>Comodidas oferecidas</h1>
            <hr class="hr-menor">
        </div>
        <div class="grid-container">
            {{#if comodidades.wifi}}
                <img src="/wi-fi.png" alt="Wi-Fi">
            {{/if}}
            {{#if comodidades.tv}}
                <img src="/tv.png" alt="TV">
            {{/if}}
            {{#if comodidades.cozinha}}
                <img src="/cozinhau.png" alt="Cozinha">
            {{/if}}
            {{#if comodidades.garagem}}
                <img src="/vagas.png" alt="Garagem">
            {{/if}}
            {{#if comodidades.arcondicionado}}
                <img src="/arcondicionado.png" alt="Ar-condicionado">
            {{/if}}
        </div>
    </section>
    <svg class="hr-maior" xmlns="http://www.w3.org/2000/svg" width="1164" height="3" viewBox="0 0 1164 3" fill="none">
        <path d="M0 1.25L1163.03 1.25" stroke="#6EB6FF" stroke-width="2" />
    </svg>
    <section class="regras">
        <div class="tittle">
            <h1>Regras do Local</h1>
            <hr class="hr-menor">
        </div>

        <div class="grid-container">
            {{#if regras.fumar}}
                <p>pode fumar</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode fumar</p>
                <img src="/x.png">
            {{/if}}
            
            {{#if regras.pets}}
                <p>pode pets</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode pets</p>
                <img src="/x.png">
            {{/if}}

            {{#if regras.bebidas}}
                <p>pode bebidas</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode bebidas</p>
                <img src="/x.png">
            {{/if}}

            {{#if regras.visitas}}
                <p>pode visitas</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode visitas</p>
                <img src="/x.png">
            {{/if}}        
        </div>
    </section>


    <section class="sugestoes">
        <div class="tittle">
            <h1>Sugestões</h1>
            <hr class="hr-menor">
        </div>
        <container id="cards">
            <section class="card">
                <div>
                    <img src="/quarto.png" alt="Quarto de uma república" class="imgQuarto ">
                </div>
                <div>
                    <h4>República Gonzaga</h4>
                    <p>R$900-1100 / mês</p>
                    <div class="detalhes">
                        <div>
                            <img src="/mista.png">
                            Mista
                        </div>

                        <div>
                            <img src="/cama.png">
                            4
                        </div>

                        <div>
                            <img src="/banheiro.png">
                            3
                        </div>
                    </div>
                </div>
            </section>

            <section class="card">
                <div>
                    <img src="/quarto08.JPG" alt="Quarto de uma república" class="imgQuarto ">
                </div>
                <div>
                    <h4>República Ana Costa</h4>
                    <p>R$1000-1300 / mês</p>
                    <div class="detalhes">
                        <div>
                            <img src="/mista.png">
                            Mista
                        </div>

                        <div>
                            <img src="/cama.png">
                            3
                        </div>

                        <div>
                            <img src="/banheiro.png">
                            2
                        </div>
                    </div>
                </div>
            </section>
        </container>
    </section>
    <section>

        <div class="info-coments">
            <div class="titles-coments">
                <h1>4.8</h1>
                <p>785 Comentarios</p>
            </div>
            <div class="stars">
                <div class="numbers">
                    <p>5</p>
                    <p>4</p>
                    <p>3</p>
                    <p>2</p>
                    <p>1</p>
                </div>
                <div class="stars-icon">
                    <img src="/Star 46.png" alt="">
                    <img src="/Star 46.png" alt="">
                    <img src="/Star 46.png" alt="">
                    <img src="/Star 46.png" alt="">
                    <img src="/Star 46.png" alt="">
                </div>
                <div class="value-stars">
                    <div class="stars-5"><div></div></div>
                    <div class="stars-4"><div></div></div>
                    <div class="stars-3"><div></div></div>
                    <div class="stars-2"><div></div></div>
                    <div class="stars-1"><div></div></div>
                </div>
            </div>
        </div>

<form class="coment-pub" action="/comentarios/adicionar" method="POST">
    <input type="hidden" name="id_republica" value="{{ republica.id }}">
    <input type="hidden" name="rating" id="rating" value="0">
    <textarea name="texto" style="resize: none;" maxlength="100" placeholder="Digite seu comentário"></textarea>
    <div class="inputs">
        <div class="stars-align">
            <p>Estrelas:</p>
            <button class="count"  data-value="1"><img src="/Star 4.png"  alt="Estrela 1"></button>
            <button class="count" data-value="2"><img src="/Star 4.png" alt="Estrela 2"></button>
            <button class="count" data-value="3"><img src="/Star 4.png"  alt="Estrela 3"></button>
            <button class="count" data-value="4"><img src="/Star 4.png"  alt="Estrela 4"></button>
            <button class="count" data-value="5"><img src="/Star 4.png"  alt="Estrela 5"></button>
        </div>
        <button class="enviar" type="submit">Enviar comentario</button>
    </div>
    
</form>

{{!-- Não sei ainda onde colocar a data --}}
{{#if comentarios.length}}
    <ul>
        <div class="grid-container-2">
            {{#each comentarios}}
            <div class="coment">
                <div class="perfil">
                    {{!-- Adcionar aqui o icon de foto de perfil do usuario --}}
                </div>
                <div class="infos-coment">
                    <div class="titles-coment">
                        <h1>{{this.nome}}</h1>
                        <div>
                            <img src="/Star 46.png" alt="">
                            <img src="/Star 46.png" alt="">
                            <img src="/Star 46.png" alt="">
                            <img src="/Star 46.png" alt="">
                            <img src="/Star 46.png" alt="">
                        </div>
                    </div>
                    <p>{{this.texto}}</p>
                </div>
                {{!-- <div class="title">
                    <p>{{this.nome}}</p>
                    <p class="date">{{this.dataFormatada}}</p>
                </div>
                <p>{{this.texto}}</p> --}}
            </div>
            {{/each}}
        </div>
    </ul>
{{else}}
    <p>Nenhum comentário encontrado.</p>
{{/if}}

</section>

<script src="/estrelas.js"></script>

</body>

</html>
