<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="perfil.css">
    <link rel="icon" href="/reuni.png">
</head>

<body>
    <header>
        <a href="/pesquisa"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <main class="galery">
        <div class="content">
            <div class="slides">
                <input type="radio" name="slide" id="slide1" checked>
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">

                <div class="slide s1">
                    <img src="/foto 1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/foto 1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/foto 1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/foto 1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="/foto 1.jpg" alt="">
                </div>
            </div>
            <div class="navigation">
                <label class="bar" for="slide1"></label>
                <label class="bar" for="slide2"></label>
                <label class="bar" for="slide3"></label>
                <label class="bar" for="slide4"></label>
                <label class="bar" for="slide5"></label>
            </div>
        </div>
    </main>
    <section class="tittle-fav">
        <div>
            <h1>{{ republica.nome }}</h1>
            <p>{{ republica.cidade }}, {{ republica.bairro }}</p>
        </div>
        <div>
            <form action="/favoritos" method="POST">
                <input type="hidden" name="republica_id" value="{{ republica.id }}">
                <button type="submit"><img src="/icon-coracao 1.png" alt="" srcset=""></button>
            </form>
        </div>
    </section>
    <svg class="hr-maior" xmlns="http://www.w3.org/2000/svg" width="582" height="2" viewBox="0 0 582 2" fill="none">
        <path d="M0.015625 1H581.016" stroke="#6EB6FF" stroke-width="2" />
    </svg>
    <main class="container-desc">
        <div class="desc">
            <div class="tittle">
                <h1>Descrição</h1>
                <hr>
            </div>
            <div class="text">
                <p>{{ republica.descricao }}</p>
            </div>
            <hr class="hr-maior-2">
        </div>

        <div class="contact">
            <div class="box">
                <div class="icon-nome">
                    <img src="/foto perfil.png" alt="">
                    <h2>{{ republica.nome }}</h2>
                </div>
                <div class="container-infos">
                    <div>
                        <img src="/Vector 1.png" alt="" srcset="">
                        <p>Desde {{ republica.anoDeCriacao }}</p>
                    </div>
                    <div>
                        <img src="/Vector.png" alt="" srcset="">
                        <p>{{ republica.banheiro }} Banheiros</p>
                    </div>
                    <div>
                        <img src="/Vector (1).png" alt="" srcset="">
                        <p>{{ republica.quarto }} Quartos</p>
                    </div>
                    <div>
                        <img src="/image 4.png" alt="" srcset="">
                        <p>{{ republica.tipo }}</p>
                    </div>
                    {{!-- <div>
                        <img src="/icon.png" alt="" srcset="">
                        <p>2 Vagas Disponíveis</p>
                    </div> --}}
                </div>
                <div class="button">
                    <button>Entrar em contato</button>
                </div>
            </div>
        </div>
    </main>
    <section class="comodidades">
        <div class="tittle">
            <h1>Comodidas oferecidas</h1>
            <hr class="hr-menor">
        </div>
        <div class="grid-container">
            <img src="/Wifi.png" alt="">
            <img src="/Cozinha.png" alt="">
            <img src="/Mobiliado.png" alt="">
            <img src="/lazer.png" alt="">
            <img src="/Garagem.png" alt="">
            <img src="/Piscina.png" alt="">
        </div>
    </section>
    <svg class="hr-maior" xmlns="http://www.w3.org/2000/svg" width="1164" height="3" viewBox="0 0 1164 3" fill="none">
        <path d="M0 1.25L1163.03 1.25" stroke="#6EB6FF" stroke-width="2" />
    </svg>
    <section class="regras">
        <div class="tittle">
            <h1>Regras do Local</h1>
            <hr class="hr-menor">
        </div>

        <div class="grid-container">
            <img src="/Permitido.png" alt="">
            <img src="/Permitido (1).png" alt="">
            <img src="/Permitido (2).png" alt="">
            <img src="/Permitido (3).png" alt="">
            <img src="/Permitido7.png" alt="">
        </div>
    </section>


    <section class="sugestoes">
        <div class="tittle">
            <h1>Sugestões</h1>
            <hr class="hr-menor">
        </div>
        <container id="cards">
            <section class="card">
                <div>
                    <img src="/quarto.png" alt="Quarto de uma república" class="imgQuarto ">
                </div>
                <div>
                    <h4>República Gonzaga</h4>
                    <p>R$900-1100 / mês</p>
                    <div class="detalhes">
                        <div>
                            <img src="/mista.png">
                            Mista
                        </div>

                        <div>
                            <img src="/cama.png">
                            4
                        </div>

                        <div>
                            <img src="/banheiro.png">
                            3
                        </div>
                    </div>
                </div>
            </section>

            <section class="card">
                <div>
                    <img src="/quarto08.JPG" alt="Quarto de uma república" class="imgQuarto ">
                </div>
                <div>
                    <h4>República Ana Costa</h4>
                    <p>R$1000-1300 / mês</p>
                    <div class="detalhes">
                        <div>
                            <img src="/mista.png">
                            Mista
                        </div>

                        <div>
                            <img src="/cama.png">
                            3
                        </div>

                        <div>
                            <img src="/banheiro.png">
                            2
                        </div>
                    </div>
                </div>
            </section>
        </container>
    </section>
        <section>

{{#if comentarios.length}}
    <h2>Comentários:</h2>
    <ul>
        {{#each comentarios}}
            <img src="{{fotoPerfilUrl}}" id="ImgEdit" width="150px" height="150">
            <li>{{this.ds_texto}}</li>
            <li>{{this.ds_cpfUsu}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>Nenhum comentário encontrado.</p>
{{/if}}

    <form action="/comentarios/adicionar" method="POST">
    <input type="hidden" name="id_republica" value="{{ republica.id }}">
    <textarea name="texto" placeholder="Digite seu comentário"></textarea>
    <button type="submit">Enviar</button>
</form>
</section>

</body>

</html>
