<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil da República</title>
    <link rel="stylesheet" href="perfil.css">
    <link rel="icon" href="/reuni.png">
</head>

<body>
    <header>
        <a href="/pesquisaAnun"><img src="/Voltar.png" alt="" srcset=""></a>
        <a href="#" class="title">Re<span>Uni</span></a>
    </header>
    <main class="galery">
        <div class="content">
            <div class="slides">
                {{#if imagemRep.length}}
                {{#each imagemRep}}
                        <img src="/up/{{nome_imagem}}"  width="500px">
                {{/each}}
            {{else}}
                <p>erro</p>
            {{/if}}
    </main>
    <section class="tittle-fav">
        <div>
            <h1>{{ republica.nome }}</h1>
            <p>{{ republica.cidade }}, {{ republica.bairro }}</p>
        </div>
        <div>
            <form action="/favoritos" method="POST">
                <input type="hidden" name="republica_id" value="{{ republica.id }}">
                <button type="submit"><div class="imagem" id="imagem1"></div></button>
            </form>
        </div>
    </section>
    <svg class="hr-maior" xmlns="http://www.w3.org/2000/svg" width="582" height="2" viewBox="0 0 582 2" fill="none">
        <path d="M0.015625 1H581.016" stroke="#6EB6FF" stroke-width="2" />
    </svg>
    <main class="container-desc">
        <div class="desc">
            <div class="tittle">
                <h1>Descrição</h1>
                <hr>
            </div>
            <div class="text">
                <p>{{ republica.descricao }}</p>
            </div>
            <hr class="hr-maior-2">
        </div>

        <div class="contact">
            <div class="box">
                <div class="icon-nome">
                    <img src="/foto perfil.png" alt="">
                    <h2>{{ republica.nome }}</h2>
                </div>
                <div class="container-infos">
                    <div>
                        <img src="/Vector 1.png" alt="" srcset="">
                        <p>Desde {{ republica.anoDeCriacao }}</p>
                    </div>
                    <div>
                        <img src="/Vector.png" alt="" srcset="">
                        <p>{{ republica.banheiro }} Banheiros</p>
                    </div>
                    <div>
                        <img src="/Vector (1).png" alt="" srcset="">
                        <p>{{ republica.quarto }} Quartos</p>
                    </div>
                    <div>
                        <img src="/image 4.png" alt="" srcset="">
                        <p>{{ republica.tipo }}</p>
                    </div>
                </div>
                <div class="button">
                    <a href="https://wa.me/55{{republica.numero}}"><button>Entrar em contato</button></a>
                </div>
            </div>
        </div>
    </main>
    <section class="comodidades">
        <div class="tittle">
            <h1>Comodidas oferecidas</h1>
            <hr class="hr-menor">
        </div>
        <div class="grid-container">
            {{#if comodidades.wifi}}
                <img src="/wi-fi.png" alt="Wi-Fi">
            {{/if}}
            {{#if comodidades.tv}}
                <img src="/tv.png" alt="TV">
            {{/if}}
            {{#if comodidades.cozinha}}
                <img src="/cozinhau.png" alt="Cozinha">
            {{/if}}
            {{#if comodidades.garagem}}
                <img src="/vagas.png" alt="Garagem">
            {{/if}}
            {{#if comodidades.arcondicionado}}
                <img src="/arcondicionado.png" alt="Ar-condicionado">
            {{/if}}
        </div>
    </section>
    <svg class="hr-maior" xmlns="http://www.w3.org/2000/svg" width="1164" height="3" viewBox="0 0 1164 3" fill="none">
        <path d="M0 1.25L1163.03 1.25" stroke="#6EB6FF" stroke-width="2" />
    </svg>
    <section class="regras">
        <div class="tittle">
            <h1>Regras do Local</h1>
            <hr class="hr-menor">
        </div>

        <div class="grid-container">
            {{#if regras.fumar}}
                <p>pode fumar</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode fumar</p>
                <img src="/x.png">
            {{/if}}
            
            {{#if regras.pets}}
                <p>pode pets</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode pets</p>
                <img src="/x.png">
            {{/if}}

            {{#if regras.bebidas}}
                <p>pode bebidas</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode bebidas</p>
                <img src="/x.png">
            {{/if}}

            {{#if regras.visitas}}
                <p>pode visitas</p>
                <img src="/v.png">
            {{else}}
                <p>nao pode visitas</p>
                <img src="/x.png">
            {{/if}}        
        </div>
    </section>

</body>

</html>
