<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
</head>
<body>
    
    <h1>Perfil do Usuário</h1>
    <p>Nome: {{perfil.nm_usu}}</p>
    <p>Sexo: {{perfil.sx_sexoUsu}}</p>
    <p>Idade: {{perfil.qt_idade}}</p>
    <p>CPF: {{perfil.ds_cpfUsu}}</p>
    <p>Email: {{perfil.ds_emailUsu}}</p>
    <p>Descrição do Perfil: {{perfil.ds_descricaoPerfil}}</p>
    <p>Estado de Origem: {{perfil.ModelEstado.nm_estadoOrigem}}</p>

    <form action="/perfil/delete" method="delete">
        <button type="submit">Excluir conta</button>
    </form>
    
    <a href="/editar-perfil"><button>Editar Perfil</button></a>
</body>
</html>
