<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/pesquisa.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/pesquisa-card.css">

    <title>Reuni</title>
</head>

<body>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
    const sections = document.querySelectorAll('.repu-grid section');
    const moveLeftButton = document.getElementById('setaEsquerda');
    const moveRightButton = document.getElementById('setaDireita');
    const moveAmountPercentage = 100; // Altere conforme necessário
    const leftLimitPercentage = 0; // Limite à esquerda em porcentagem
    const rightLimitPercentage = -160; // Limite à direita em porcentagem
    const sectionWidthPercentage = 20; // Largura de cada seção em porcentagem

    const gridWidth = sections.length * sectionWidthPercentage; // Largura total do grid
    const moveAmount = (moveAmountPercentage / 100) * gridWidth; // Converter para pixels
    const leftLimit = (leftLimitPercentage / 100) * gridWidth; // Converter para pixels
    const rightLimit = (rightLimitPercentage / 100) * gridWidth; // Converter para pixels

    moveLeftButton.addEventListener('click', function() {
        sections.forEach(function(section) {
            let currentLeft = parseInt(section.style.left || 0);
            if (currentLeft - moveAmount >= leftLimit) {
                section.style.left = currentLeft - moveAmount + '%';
            } else {
                section.style.left = leftLimit + '%';
            }
        });
    });

    moveRightButton.addEventListener('click', function() {
        sections.forEach(function(section) {
            let currentLeft = parseInt(section.style.left || 0);
            if (currentLeft + moveAmount <= rightLimit) {
                section.style.left = currentLeft - moveAmount + '%';
            } else {
                section.style.left = rightLimit + '%';
            }
        });
    });
});

    </script>
    <header>
        <div class="navLeft">
            <a href="/pesquisa" class="logo_a">Re<span>Uni</span></a>
        </div>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="/perfil-Anunciante"> <img src="{{fotoPerfilUrl}}" id="ImgEdit"></a>
                </button>
                <div class="dropdown-content">
                    <a href="/anunciar">Anunciar</a>
                    <a href="/minhas-republicas">Minhas</a>
                    <a href="/auth/logout">Sair</a>
                </div>
            </div>
      </div>
    </header>

    <div class="alert {{#if success_msg}}show{{/if}}">
        {{#if success_msg}}
        <div class="success">{{success_msg}}</div>
        {{/if}}
    </div>


    <div class="republicas-mts">
        <div class="repu-selec">
            <section class="card">
        <div class="imgQuarto-div">
            <a href="/perfil-Republica?id={{id}}">
                <img src="/foto 1.jpg" alt="Quarto de uma república">
                <div class="imagem" id="imagem1"></div>
            </a>
        </div>
        <div class="content">
            <div class="text-content">
                <h4>{{nome}}</h4>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>{{cidade}}</p>
                <p>R$ {{aluguel}} / mês</p>
            </div>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{tipo}}
                    </div>
    
                    <div>
                        <img src="/cama.png">
                        {{quarto}}
                    </div>
    
                    <div>
                        <img src="/banheirob.png">
                        {{banheiro}}
                    </div>
                </div>
        </div>
        <div class="sobre">

        </div>
    </section></div>
        <div class="repu-container">
            <div class="setaEsquerda"><button id="setaEsquerda" onclick="setaesquerda_trans()"><img src="/seta.png" alt="">
            </button></div>
            <div class="repu-grid">
                <section class="card">
        <div class="imgQuarto-div">
            <a href="/perfil-Republica?id={{id}}">
                <img src="/foto 1.jpg" alt="Quarto de uma república">
                <div class="imagem" id="imagem1"></div>
            </a>
        </div>
        <div class="content">
            <div class="text-content">
                <h4>{{nome}}</h4>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>{{cidade}}</p>
                <p>R$ {{aluguel}} / mês</p>
            </div>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{tipo}}
                    </div>
    
                    <div>
                        <img src="/cama.png">
                        {{quarto}}
                    </div>
    
                    <div>
                        <img src="/banheirob.png">
                        {{banheiro}}
                    </div>
                </div>
        </div>
        <div class="sobre">

        </div>
        </section>
        <section class="card">
        <div class="imgQuarto-div">
            <a href="/perfil-Republica?id={{id}}">
                <img src="/foto 1.jpg" alt="Quarto de uma república">
                <div class="imagem" id="imagem1"></div>
            </a>
        </div>
        <div class="content">
            <div class="text-content">
                <h4>{{nome}}</h4>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>{{cidade}}</p>
                <p>R$ {{aluguel}} / mês</p>
            </div>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{tipo}}
                    </div>
    
                    <div>
                        <img src="/cama.png">
                        {{quarto}}
                    </div>
    
                    <div>
                        <img src="/banheirob.png">
                        {{banheiro}}
                    </div>
                </div>
        </div>
        <div class="sobre">

        </div>
        </section>
        <section class="card">
        <div class="imgQuarto-div">
            <a href="/perfil-Republica?id={{id}}">
                <img src="/foto 1.jpg" alt="Quarto de uma república">
                <div class="imagem" id="imagem1"></div>
            </a>
        </div>
        <div class="content">
            <div class="text-content">
                <h4>{{nome}}</h4>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>{{cidade}}</p>
                <p>R$ {{aluguel}} / mês</p>
            </div>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{tipo}}
                    </div>
    
                    <div>
                        <img src="/cama.png">
                        {{quarto}}
                    </div>
    
                    <div>
                        <img src="/banheirob.png">
                        {{banheiro}}
                    </div>
                </div>
        </div>
        <div class="sobre">

        </div>
        </section>
        <section class="card">
        <div class="imgQuarto-div">
            <a href="/perfil-Republica?id={{id}}">
                <img src="/foto 1.jpg" alt="Quarto de uma república">
                <div class="imagem" id="imagem1"></div>
            </a>
        </div>
        <div class="content">
            <div class="text-content">
                <h4>{{nome}}</h4>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>{{cidade}}</p>
                <p>R$ {{aluguel}} / mês</p>
            </div>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{tipo}}
                    </div>
    
                    <div>
                        <img src="/cama.png">
                        {{quarto}}
                    </div>
    
                    <div>
                        <img src="/banheirob.png">
                        {{banheiro}}
                    </div>
                </div>
        </div>
        <div class="sobre">

        </div>
        </section>
            </div>
            <div class="setaDireita" id="setaDireita"><button><img src="/seta.png" alt=""></button></div>
        </div>
    </div>

    <div class="dashboard">
        <div>
            <p>Venha ter Informações mais detalhadas e que impulsionaram totalmente a sua república</p>
            <button>Assine já</button>
        </div>
    </div>
    
    <script src="/transicao.js"></script>
    <script src="/msgBemvindo.js"></script>
    <script src="/pesquisaAuth.js"></script>
</body>

</html>