<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/reuni.png">
    <link rel="stylesheet" href="/pesquisa.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/pesquisa-card.css">

    <title>Reuni</title>
</head>
<body>

    <header>
        <div class="navLeft">
            <a href="/pesquisa" class="logo_a">Re<span>Uni</span></a>
        </div>

        <div class="navRight">
            <p><img src="/coracao.png" alt="Coração de favoritos">Favoritos</p>
            <img src="/menu.png" alt="Menu">
        </div>
    </header>

    <div class="alert {{#if success_msg}}show{{/if}}">
        {{#if success_msg}}
            <div class="success">{{success_msg}}</div>
        {{/if}}
    </div>

    <section class="exposicao">
        <div class="sectionLeft">
            <div>
                <div class="titulo">
                    <h1> Encontre a república ideal para você </h1>
                </div>
                
                <div class="pesquisa">
                    <div class="box">
                        <div class="localizacao"><p><img src="/localizacao.png" alt="localização"> Cidade</p></div>
                        <div class="preco"><p><img src="/ajuste.png" alt="Preço" class="imgPreco"> Preço</p> <button class="btnpesquisar"><img src="/lupa.png" alt="Lupa de pesquisa" class="imglupa"></button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sectionRight">
            <img src="/menina.png">
        </div>
    </section>

    <!-- foreach de pesquisa para renderizar os perfis -->
    {{!-- --adiconar iso no controller quando for testar --}}
     {{!-- res.render('paginaPesquisa', { republicas: resultados }); --}}

{{!-- <container id="cards">
    {{#each republicas}}
        <section class="card">
            <div>
                <a href="/perfil?id={{id_republica}}"><img src="/quarto.png" alt="Quarto de uma república" class="imgQuarto "></a>
            </div>
            <div>
                <h4>{{ds_nomeRepublica}}</h4>
                <p>R$ {{vl_valorMensal}} / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{ds_tipoRepublica}}
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        {{qtd_quartoRepublica}}
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        {{qtd_banheiroRepublica}}
                    </div>    
                </div>
            </div>
        </section>
    {{/each}}
</container>

    <container id="cards">
    {{#each republicas}}
        <section class="card">
            <div>
                <a href="/perfil?id={{id}}"><img src="/quarto.png" alt="Quarto de uma república" class="imgQuarto "></a>
            </div>
            <div>
                <h4>{{Nome_da_Republica}}</h4>
                <p>R$ {{Aluguel_Mensal}} / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        {{Tipo}}
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        {{quarto}}
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        {{banheiro}}
                    </div>    
                </div>
            </div>
        </section>
    {{/each}}
</container>
 --}}


    <div class="republicas">
        <aside>
            <div class="procurar">
                <p >Procurar por nome</p>
                <div>
                     <input type="text" id="inputSearch" placeholder="Digite o nome da república">
                     <ul id="resultado" style="display: none;"></ul>
                     <img src="/lupaP.png" alt="Pesquisar por republicas" class="procurarRepublicas"><p></p>
                </div>
            </div>
        </aside>
        <div>
            <section>
                <div class="titulo-rep">
                    <h2>2,582 Repúblicas encontradas em Santos </h2>
                </div>
                <div class="opc">
                    <ul>
                        <li id="firt">Para você</li>
                        <li class="brd">Repúblicas femininas</li>
                        <li class="brd">Repúblicas masculinas</li>
                        <li>Repúblicas mistas</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <container id="cards">
        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto.png" alt="Quarto de uma república" class="imgQuarto "></a>
            </div>
            <div>
                <h4>República Gonzaga</h4>
                <p>R$900-1100 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        4
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        3
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto08.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República Ana Costa</h4>
                <p>R$1000-1300 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        3
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        2
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto06.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República Yasumi</h4>
                <p>R$900-1000 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        3
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        1
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto07.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República Antares</h4>
                <p>R$1500-1800 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        6
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        3
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto05.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República dos Andes</h4>
                <p>R$1300 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        3
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        2
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto04.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República Estrelar</h4>
                <p>R$1500-1800 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        3
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        1
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto03.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República Esmeralda</h4>
                <p>R$600-800 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/mista.png">
                        Mista
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        2
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        1
                    </div>    
                </div>
            </div>
        </section>

        <section class="card">
            <div>
                <a href="/perfil"><img src="/quarto02.JPG" alt="Quarto de uma república" class="imgQuarto"></a>
            </div>
            <div>
                <h4>República Sol</h4>
                <p>R$700-900 / mês</p>
                <div class="detalhes">
                    <div>
                        <img src="/sexo-provi.png" width="20px">
                        Fem
                    </div>
                        
                    <div>
                        <img src="/cama.png">
                        5
                    </div>
                        
                    <div>
                        <img src="/banheiro.png">
                        3
                    </div>    
                </div>
            </div>
        </section>
    </container>
     <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <a href="/pesquisa" class="logo_a_footer">Re<span>Uni</span></a>
                <p>É tudo sobre os seus sonhos.</p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"><img src="/instagram.png" width="28px"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"><img src="/facebook.png" width="28px"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"> <img src="/whatsapp.png" width="28px"></i>
                    </a>
                </div>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Documentos</h3>
                </li>
                <li>
                    <a href="MONOGRAFIA%20REUNI.pdf" class="footer-link">Monografia</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Manual de identidade</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Contato</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Email</a>
                </li>
                <li>
                    <a href="#" class="footer-link">FAQ</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>?????</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Politica de privacidade</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Termos de uso</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <h3>Sobre nós</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Equipe</a>
                </li>
                <li>
                    <a href="#" class="footer-link"></a>
                </li>
            </ul>
        </div>

        <div id="footer_copyright">
          @ 2024 all rights reserved
        </div>
    </footer>

    <script src="/msgBemvindo.js"></script>
    <script src="/pesquisaAuth.js"></script>
</body>
</html>